body {
  background-color: #dfe6e0;
}
.title {
  text-align: center;
  font-family: "Noto Sans", sans-serif;  
}

.foto {
  width: 170px;
  height: 170px;
  border-radius: 5%;
  display: block; 
  
}

h3 {
  font-size: 21.5px;
  font-family: "Noto Sans", sans-serif;
}

.cartaz {
  font-size: 17.5px;
}

.contacts {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.contacts li {
  font-family: "Noto Sans", sans-serif;
  margin-left: 0;
  margin-bottom: 8px;
}

.linkedin {
  width: 15px;
  height: 15px;
}

.instagram {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.languages {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.languages li {
  font-family: "Noto Sans", sans-serif;
  margin-left: 0;
  margin-bottom: 7px;
}

.barra {
  position: fixed;
  left: 0; 
  top: 0; 
  width: 200px; 
  height: 100%; 
  background-color: #b4c9b6; 
  overflow: auto; 
  padding: 20px; 
  border-radius: 5px;
}

p {
  margin-top: 25px;
  font-family: "PT Serif", serif;
}

.content {
  margin-left: 270px;
}

.lingua {
  font-size: 15px;
  font-weight: bold;
  
}

.ipluso {
  width: 40px;
  height: 40px;
}

.CGI {
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
}

.experiencia {
  font-size: 12.5px;
  font-family: "Noto Sans", sans-serif ;
  padding: 0;
  margin: 0;
}

.experiencia li{
  margin-left: 0;
  margin-top: 3px;
}

.link {
  font-weight: bold;
  font-size: 15px;
}

#titulo {
  font-weight: bold;
  font-size: 15px;
}
 
.Experience {
  border: 1px solid black;
  border-radius: 20px;
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-right: 15px;
}

.Education {
  border: 1px solid black;
  border-radius: 20px;
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: -5px;
  margin-top: 20px;
  margin-right: 15px;
}

.linha {
  content: "";
  display: block;
  height: 1px;
  background: black;
  margin: 20px 0;
  margin-right: 15px;
}